.header {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--secondary);
  padding: 1vh;
  width: 100vw;
  position: sticky;
  top: 0;
}

.button {
  font-size: 2rem;
  background-color: var(--background);
  color: var(--font);
}

.button:hover {
  background-color: var(--hover);
}
