.p {
  text-align: center;
  padding: 0 5vw;
  margin: auto;
}

.link {
  color: dodgerblue;
  text-decoration: underline;
  font-weight: bold;
}

.tableContainer {
  margin: auto;
  max-width: 80vw;
}
