.footerContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-end;
  justify-content: end;
  background-color: var(--secondary);
  color: white;
  padding: 16px;
  width: 100vw;
  margin-top: 1.5rem;
}

.icon {
  height: 3vh;
  width: auto;
  margin: auto;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--foreground);
}

.iconContainer:hover {
  scale: 1.2;
}

.flag {
  width: 3vw;
  height: auto;
  aspect-ratio: 70 / 45;
  margin-bottom: 12px;
}

.flag.progress {
  background:
    conic-gradient(
      at 14% 50%,
      #0000 221.25deg,
      white 222deg 318deg,
      #0000 318.25deg
    ),
    conic-gradient(
      at 23% 50%,
      #0000 221.25deg,
      #ffa6b9 222deg 318deg,
      #0000 318.25deg
    ),
    conic-gradient(
      at 32% 50%,
      #0000 221.25deg,
      #00d2ff 222deg 318deg,
      #0000 318.25deg
    ),
    conic-gradient(
      at 41% 50%,
      #0000 221.25deg,
      #753000 222deg 318deg,
      #0000 318.25deg
    ),
    conic-gradient(
      at 50% 50%,
      #0000 221.25deg,
      black 222deg 318deg,
      #0000 318.25deg
    ),
    linear-gradient(
      red 0 16.66%,
      orange 0 33.33%,
      yellow 0 50%,
      green 0 66.66%,
      blue 0 83.33%,
      indigo 0
    );
}

[data-theme="dark"] .iconContainer {
  color: var(--background);
}

/* Mobile-specific styles */
@media (max-width: 1080px) {
  .icon {
    height: 5vh;
    width: auto;
    margin: auto;
  }

  .flag {
    height: 8vh;
    width: auto;
    margin-bottom: 12px;
  }

  .footerContainer {
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .footerContainer {
    gap: 20px;
  }

  .flag {
    width: 6vh;
    height: auto;
    aspect-ratio: 70 / 45;
    margin-bottom: 20px;
  }
}
