.h1 {
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
  margin: 1rem 0;
}

.h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  margin: 1rem 0;
}
